
.scalatex-content *{
    position: relative;
}
.scalatex-content p{
    text-align: justify;
}


/*The content `<div>` is where all your content goes.*/

.scalatex-content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
    padding-bottom: 50px;
    line-height: 1.6em;
    color: #777;
}

 /*Custom Stuff*/
.scalatex-content a:link {
    color: #37a;
    text-decoration: none;
}
.scalatex-content a:visited {
    color: #949;
    text-decoration: none;
}
.scalatex-content a:hover {
    text-decoration: underline;
}
.scalatex-content a:active  {
    color: #000;
    text-decoration: underline;
}
.scalatex-content code{
    color: #000;
}

.scalatex-hover-container:hover .scalatex-header-link:hover > i{
    opacity: 1.0;
}

.scalatex-hover-container:hover .scalatex-header-link > i:active{
    opacity: 0.75;
}

.scalatex-hover-container:hover .scalatex-header-link > i{
    opacity: 0.5;
}

.scalatex-header-link > i{
    color: #777;
    opacity: 0.05;
    text-decoration: none;
}


/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
    background: none;
}